### dotenv ###
**/*.env

### SSL certificates ###
**/cert/zerossl
**/cert/dhparam/seesee.space.pem
!**/cert/dhparam
**/*.pem
**/*.crt
**/*.key

# Dependency directories
node_modules/
jspm_packages/

### Builds ###
**/build/*
**/dist/*

### vscode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/extensions.json
*.code-workspace

### logs ###
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

### Linux ###
*~