version: 2.1
workflows:
  main:
    jobs:
      - build
jobs:
  build:
    machine:
      image: ubuntu-2004:202010-01

    environment:
      TEST_RESULTS: /tmp/test-results

    steps:
    
      - checkout

      - run:
          name: Install Docker Compose
          command: |
            curl -L https://github.com/docker/compose/releases/download/1.25.3/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
            chmod +x ~/docker-compose
    
      - run:
          name: Build service
          command: make test
  
      - run:
          name: Start container and verify it's working
          command: |
            set -x
            docker-compose -f docker-tools/docker-compose.yml build
            echo -e '\\033[34m[+]\\033[0m' 'continuing for now...'

      - store_artifacts:
          path: /tmp/test-results
          destination: raw-test-output

      - store_test_results:
          path: /tmp/test-results