version: 2.1
workflows:
  main:
    jobs:
      - build
jobs:
  build:
    filters:
      branches:
        only: master
    machine:
      image: ubuntu-2004:202010-01
      docker_layer_caching: true
    steps:
      - checkout
      - run:
          name: "Testing"
          command: echo "Hi"
