version: 2.1

workflows:
  main:
    jobs:
      - build

jobs:
  build:
    machine:
      image: ubuntu-2004:202010-01
      
    environment:
      TEST_RESULTS: /tmp/test-results

    steps:
      - checkout

      - run:
          name: Install Docker Compose
          command: |
            curl -L https://github.com/docker/compose/releases/download/1.25.3/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
            chmod +x ~/docker-compose

      - run:
          name: Build service
          command: make test

      - run:
          name: Start container and verify it's working
          command: |
            set -x
            docker-compose -f docker-tools/docker-compose.yml up -d --build users-services
            # docker-compose will start 2 containers, the one with service will be named `users-services`
            # we start another container with curl in the same network as `users-services`, this way we have
            # all exposed ports from `users-services` available on `localhost` in this new container
            docker run --network back-tier users-services \
              appropriate/curl --retry 10 --retry-delay 1 --retry-connrefused http://localhost:8081/users-services/test
      
      - store_artifacts:
          path: /tmp/test-results
          destination: raw-test-output

      - store_test_results:
          path: /tmp/test-results